


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~@fontsource/inter/index.css";

.slider-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 36px; /* Width of the thumb */
    height: 36px; /* Height of the thumb */
    border-radius: 24px; /* Make it circular */
    background: #eab308; /* Thumb color */
    cursor: pointer; /* Cursor on hover */
  }
  
  .pie-slice {
    position: absolute;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0% 50%);
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 80);
    opacity: 40%;
    transform: rotate(225deg);
    transform-origin: 10%;
    left: 33%;
    border-radius: 50%;
  }

  .pie-slice2 {
    position: absolute;
    clip-path: polygon(600% 0%, 100% 0, 100% 100%, 50% 100%, 0% 50%);
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 80);
    opacity: 40%;
    transform: rotate(225deg);
    transform-origin: 10%;
    left: 33%;
    border-radius: 50
  }

  .pie-slice3 {
    position: absolute;
    clip-path: polygon(70% 0%, 100% 0, 100% 100%, 50% 100%, 0% 50%);
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 80);
    opacity: 40%;
    transform: rotate(225deg);
    transform-origin: 10%;
    left: 33%;
    border-radius: 50
  }

  .pie-slice4 {
    position: absolute;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 50% 100%, 0% 50%);
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 80);
    opacity: 40%;
    transform: rotate(225deg);
    transform-origin: 10%;
    left: 33%;
    border-radius: 50
  }